%bar {
  margin: auto;
  width: 25px;
  height: 2px;
  background: white;
  border-radius: 10px;
  transition: all 0.5s ease;
}

%base {
  position: relative;
}

// #001

.ex{
  @extend %bar;
  @extend %base;

  &:before, &:after {
    @extend %bar;
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
  }

  &:after {
    top: 6px;
  }
}

.ex-close {
  @extend %bar;
  @extend .ex;
  background: transparent;

  &:after, &:before {
    content: '';
    transform: rotate(45deg);
    top: 0px;
  }

  &:after {
    transform: rotate(-45deg);
    top: 0px;
  }
}

