@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow:auto;
}

.container {
  margin: 0 auto;
  width: 100%;

  @include media-up(md) {
    width: 80%;
  }
}

@function hslac($color, $alpha) {
  @if(type-of($color) == "color") {
    @return hsla(hue($color), saturation($color), lightness($color), $alpha);
  }
  @else {
    @error "You didn't pass a color object";
  }
}

